#hoja{

    height: auto;
    width: 1070px;

    background: #FFFFFF;

}

.h7{
    color:black;  
}

#tablilla
{
	width: 55em;
	border-radius:10px;
	
}

	

.taabla table th {background-color: #106E72; color:white; }
.taabla table tr:nth-child(odd) {background-color: #ADFFE5;}
.taabla table tr:nth-child(even) {background-color: #54B9BE;}



.tablota{
border-radius:10px;
}

.thead
{
	font-size: 0.7em;
	background: #A2CCD7;
}

.botmargin
{
	margin: 1em;
}

.precios
{
	font-size: 0.7em;
	text-align: right;
}