#hoja{

    height: auto;
    width: 1070px;
    background: #FFFFFF;
	border: 1px solid #E9E9E9;
}



.h7{
    color:black;  
	border-radius:10px;
}

.f_veige
{
	background: #F4F2F3;
	border-radius:10px;
}

.redondeo
{
	border-radius:10px;
}

.padding
{
	padding: 0.5em;
}



.tablaco{
	padding: 0.1em;
    color:black;  
	border-radius:10px;
	background: black;
}

}



#tablilla
{
	width: 55em;
	border-radius:10px;
	background-color: black;
	
}

	

.taabla table th {background-color: #106E72; color:white; }
.taabla table tr:nth-child(odd) {background-color: #ADFFE5;}
.taabla table tr:nth-child(even) {background-color: #54B9BE;}




.tablota{
border-radius:10px;
background-color: black;
}

.center
{
	margin: 0 auto;
	text-align: center;
}

.thead
{
	font-size: 0.7em;
	background: #A2CCD7;
}

.botmargin
{
	margin: 1em;
	background-color:black;
	border-radius: 10px;
}

.precios
{
	font-size: 0.7em;
	text-align: right;
}